{
  "openapi": "3.0.3",
  "info": {
    "x-mcp": {
      "protocolVersion": "2025-03-26",
      "toolOperationIds": ["createMultitask", "getTaskGroupResultsMarkdown"],
      "authEndpoint": "/me"
    },
    "title": "Parallel.ai Multitask API",
    "description": "Batch process tasks at scale using Parallel.ai",
    "version": "1.0.0",
    "contact": {
      "name": "Parallel.ai",
      "url": "https://parallel.ai"
    }
  },
  "servers": [
    {
      "url": "https://task-mcp.parallel.ai",
      "description": "Multitask Demo Server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    },
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/v1beta/tasks/multitask": {
      "post": {
        "summary": "Create Multitask Group",
        "description": "Creates a new task group for batch processing. Responds with a URL in format https://task-mcp.parallel.ai/{taskGroupId} that can immediately be shared with the user for viewing, results will be streamed in here.",
        "operationId": "createMultitask",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["inputs", "output_type", "output"],
                "properties": {
                  "inputs": {
                    "description": "JSON array of input objects to process. Start with a small batch (3-5 inputs) to test and validate results before scaling up, unless explicitly requested to process all inputs at once.",
                    "type": "array",
                    "items": { "type": "object" },
                    "example": [
                      {
                        "company_name": "Apple",
                        "website": "https://apple.com"
                      },
                      {
                        "company_name": "Microsoft",
                        "website": "https://microsoft.com"
                      }
                    ]
                  },
                  "output_type": {
                    "type": "string",
                    "enum": ["text", "json"],
                    "description": "Type of output expected from tasks"
                  },
                  "output": {
                    "type": "string",
                    "description": "Defines the desired output format and structure. Can be either:\n\n**Text Description:** Simple description of what you want extracted (e.g., 'Extract company CEO, industry, and headquarters location')\n\n**JSON Schema:** For structured output when output_type is 'json'. Follow these best practices:\n- Use flat object structure with descriptive field names (e.g., 'ceo_name' not 'name')\n- Include detailed 'description' fields with Entity + Action + Specifics + Error Handling\n- Specify data formats clearly (dates as YYYY-MM-DD, ranges with units)\n- Include all fields in 'required' array and set 'additionalProperties: false'\n- Avoid deeply nested structures and unsupported keywords (minLength, pattern, etc.)\n- Don't include 'reasoning' or 'confidence_score' fields (automatically provided in basis)\n\n**Schema Requirements:**\n- Root type must be 'object' with properties\n- Max 5 levels nesting, 100 total properties\n- Max 15,000 chars total string length\n- All fields must be in required array\n\n**Example JSON Schema:**\n```json\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"ceo_name\": {\n      \"type\": \"string\",\n      \"description\": \"Current CEO full name from company website or recent news. If unavailable, return 'Not Available'.\"\n    },\n    \"annual_revenue_2024\": {\n      \"type\": \"string\", \n      \"description\": \"2024 revenue in millions USD format (e.g. '$500M'). If unavailable, return null.\"\n    }\n  },\n  \"required\": [\"ceo_name\", \"annual_revenue_2024\"],\n  \"additionalProperties\": false\n}\n```\n\n📖 **Documentation:** https://docs.parallel.ai/task-api/core-concepts/specify-a-task",
                    "example": "Extract company information including CEO name, primary industry, and headquarters location"
                  },
                  "processor": {
                    "type": "string",
                    "enum": [
                      "lite",
                      "base",
                      "core",
                      "pro",
                      "ultra",
                      "ultra2x",
                      "ultra4x",
                      "ultra8x"
                    ],
                    "description": "Optional processor selection that determines speed, cost, and capability. If not specified, will be auto-suggested based on task complexity.\n\n**Processor Options:**\n- **lite** ($0.005/input): Basic metadata extraction, 5s-60s latency, ~2 fields\n- **base** ($0.01/input): Standard enrichments, 15s-100s latency, ~5 fields\n- **core** ($0.025/input): Cross-referenced complex outputs, 1-5min latency, ~10 fields\n- **pro** ($0.10/input): Exploratory web research with citations, 3-9min latency, ~20 fields\n- **ultra** ($0.30/input): Advanced multi-source deep research, 5-25min latency, ~20 fields\n- **ultra2x** ($0.60/input): Difficult deep research, 5-25min latency, ~25 fields\n- **ultra4x** ($1.20/input): Very difficult deep research, 8-30min latency, ~25 fields\n- **ultra8x** ($2.40/input): Most difficult deep research, 8-30min latency, ~25 fields\n\n**Key Features by Tier:**\n- lite/base: Basic citations and reasoning\n- core+: Full citations, reasoning, confidence scores, and excerpts\n- pro+: Enables Deep Research capabilities for comprehensive analysis\n\n**Selection Guide:** Use lite/base for simple data extraction, core for reliable structured outputs, pro+ when reasoning depth and comprehensive research are critical.\n\n📖 **Documentation:** https://docs.parallel.ai/task-api/core-concepts/choose-a-processor"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task group created successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "URL at which the task group can be viewed",
                  "example": "https://task-mcp.parallel.ai/tgrp_abc123"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Missing required fields: inputs, output_type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Missing x-api-key header"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{taskGroupId}": {
      "get": {
        "summary": "Get Task Group Results",
        "description": "Retrieves task group results in various formats",
        "operationId": "getTaskGroupResults",
        "parameters": [
          {
            "name": "taskGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Task group identifier"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["application/json", "text/html", "text/markdown"]
            },
            "description": "Response format preference"
          }
        ],
        "responses": {
          "200": {
            "description": "Task group results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskGroupResults"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              },
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Task group not found"
          }
        }
      }
    },
    "/{taskGroupId}.md": {
      "get": {
        "summary": "Get Task Group Results as Markdown",
        "operationId": "getTaskGroupResultsMarkdown",
        "description": "Get Task Group Results as Markdown with optional basis information",
        "parameters": [
          {
            "name": "taskGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Task group identifier"
          },
          {
            "name": "basis",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(all|index:[0-9]+|field:[a-zA-Z_][a-zA-Z0-9_]*)$"
            },
            "description": "Optional: Include basis information - 'all' for all results, 'index:{number}' for specific index, or 'field:{fieldname}' for specific field\n\nNB: Only use this when needed as it consumes a lot of tokens.",
            "examples": {
              "all": {
                "value": "all",
                "summary": "Show basis for all results"
              },
              "index": {
                "value": "index:5",
                "summary": "Show basis for result at index 5"
              },
              "field": {
                "value": "field:company_name",
                "summary": "Show basis for company_name field across all results"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task group results in Markdown format",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Task group not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Parallel.ai API key"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication"
      }
    },
    "schemas": {
      "TaskGroupResults": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Task group identifier"
          },
          "metadata": {
            "type": "object",
            "description": "Task group metadata"
          },
          "status": {
            "type": "object",
            "properties": {
              "num_task_runs": {
                "type": "integer",
                "description": "Total number of task runs"
              },
              "task_run_status_counts": {
                "type": "object",
                "additionalProperties": {
                  "type": "integer"
                },
                "description": "Count of runs by status"
              },
              "is_active": {
                "type": "boolean",
                "description": "Whether the task group is still processing"
              },
              "status_message": {
                "type": "string"
              },
              "modified_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "output_schema": {
            "type": "object",
            "nullable": true,
            "description": "Output schema used for the tasks"
          },
          "results": {
            "type": "array",
            "description": "Flat array of results with merged input and output data",
            "items": {
              "$ref": "#/components/schemas/TaskResult"
            }
          },
          "runs": {
            "type": "array",
            "description": "Detailed run information",
            "items": {
              "$ref": "#/components/schemas/TaskRun"
            }
          }
        }
      },
      "TaskResult": {
        "type": "object",
        "description": "Flattened result combining input data and output content",
        "properties": {
          "$id": {
            "type": "string",
            "description": "Task run identifier"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "action_required",
              "running",
              "completed",
              "failed",
              "cancelling",
              "cancelled"
            ]
          }
        },
        "additionalProperties": true,
        "example": {
          "$id": "trun_abc123",
          "status": "completed",
          "company_name": "Apple",
          "website": "https://apple.com",
          "ceo": "Tim Cook",
          "industry": "Technology"
        }
      },
      "TaskRun": {
        "type": "object",
        "properties": {
          "run_id": {
            "type": "string",
            "description": "Task run identifier"
          },
          "input_index": {
            "type": "integer",
            "description": "Index of the input in the original inputs array"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "action_required",
              "running",
              "completed",
              "failed",
              "cancelling",
              "cancelled"
            ]
          },
          "is_active": {
            "type": "boolean",
            "description": "Whether the run is currently active"
          },
          "processor": {
            "type": "string",
            "description": "Processor used for this run"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "modified_at": {
            "type": "string",
            "format": "date-time"
          },
          "input": {
            "type": "object",
            "description": "Input data for this run"
          },
          "output": {
            "type": "object",
            "description": "Output from the task run",
            "properties": {
              "content": {
                "oneOf": [{ "type": "string" }, { "type": "object" }],
                "description": "The actual output content"
              }
            }
          },
          "output_basis": {
            "type": "object",
            "description": "Basis information for the output"
          },
          "error": {
            "type": "object",
            "nullable": true,
            "description": "Error information if the run failed"
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata for the run"
          }
        }
      },

      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  }
}
